{% extends "base.html" %}

{% block page_content %}
    <form action="{{ url_for('index') }}" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group position-relative">
            {{ form.keyword.label }}
            {{ form.keyword(class_="form-control") }}
        </div>
        <div class="form-group position-relative">
            <div class="row">
                <div class="col-md-2">{{ form.algo.label }}</div>
                {% for subfield in form.algo %}
                    <div class="col-md-3">
                        {{ subfield }}
                        {{ subfield.label }}
                    </div>
                    {% endfor %}
            </div>
        </div>
        <div class="form-group position-relative">
            {{ form.folder.label }}
            {{ form.folder(class_="form-control-file") }}
        </div>
        {{ form.submit(class_="btn btn-default") }}
    </form>
    <br>
    {% if result %}
        <p><b>Keyword:</b> {{ keyword }}</p>
        <p><b>Hasil ekstraksi informasi:</b></p>
        {% for text in result %}
            {% for data in text[1] %}
            <p>
                <b>Jumlah:</b> {% if data[1][0] %} {{ data[1][0] }} {% else %} - {% endif %};
                <b>Waktu:</b> {% if data[0][0] %}  {{ data[0][0] }} {% else %} - {% endif %}<br>
                {{ data[2] }}<br>
                <b>File:</b> {{ text[0] }}
            </p>
            {% endfor %}    
        {% endfor %}
        <div class="navbar navbar-sticky-bottom">
            <div class="container text-center">
                <small><a href={{ url_for('about') }}>Copyright &copy; Tony Eko Yuwono - 13518030</a></small>
            </div>
        </div>
    {% else %}
        <div class="navbar navbar-fixed-bottom">
            <div class="container text-center">
                <small><a href={{ url_for('about') }}>Copyright &copy; Tony Eko Yuwono - 13518030</a></small>
            </div>
        </div>
    {% endif %}

{% endblock %}