{% extends "base.html" %}

{% block page_content %}
<div class="container">
    <br>
    <p>
        Halo! Nama saya adalah Tony Eko Yuwono. saya lahir di Kota Madiun, Jawa Timur, kota yang terkenal dengan kota Pecel.
        Saya bersekolah di kota tersebut dari TK hingga SMP, kemudian saat SMA merantau ke Kota Malang. Setelah menyelesaikan
        SMA, saya berkuliah di Institut Teknologi Bandung.
    </p>
    <p>
        Sedikit pengantar, website ini adalah website yang dibuat untuk memenuhi tugas Strategi Algoritma dengan topik <b>"String Matching"</b> dengan 
        menggunakan algoritma <i>Knuth-Morris-Pratt</i>, <i>Boyer-Moore</i>, atau <i>Regular Expression</i>.
    </p>
    <p>
        Saya dapat dihubungi di:<br>
        Email: <b>tony.yuwono@gmail.com</b><br>
        Github: <b>tonyeko</b><br>
        LinkedIn: <b>Tony Eko Yuwono</b>
    </p>
</div>
{% endblock %}