<html>
    <head>
      {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title>String Matcher</title>
      {% endif %}
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    </head>
    <body>
      <!-- <div>
          String Matcher:
          <a href="{{url_for('index')}}">Home</a>
      </div>
      <hr> -->
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
      <div class="footer">
        <p><a href="{{url_for('about')}}">2020 © Tony Eko Yuwono - 13518030</a></p>
      </div>
  </body>
</html>