{% extends "base.html" %}

{% block content %}
<div class="container">
    <form action="{{ url_for('index') }}" method="post">
        {{ form.hidden_tag() }}
        <table>
            <tr>
                <td>{{ form.folder.label }}</td>
                <td>{{ form.folder(size=32) }}</td>
                {% for error in form.folder.errors %}
                <td style="color: red;">[{{ error }}]</td>
                {% endfor %}
            </tr>
            <tr>
                <td>{{ form.keyword.label }}</td>
                <td>{{ form.keyword(size=32) }}</td>
                {% for error in form.keyword.errors %}
                <td style="color: red;">[{{ error }}]</td>
                {% endfor %}
            </tr>
            <tr>
                <td>{{ form.algo.label }}</td>
                {% for subfield in form.algo %}
                <td>
                    {{ subfield }}
                    {{ subfield.label }}
                </td>
                {% endfor %}
            </tr>
            <tr>
                <td>{{ form.submit() }}</td>
            </tr>
        </table>
    </form>
    <div class="navbar navbar-fixed-bottom">
        <div class="container text-center">
            <small><a href={{ url_for('about') }}>Copyright &copy; Tony Eko Yuwono - 13518030</a></small>
        </div>
    </footer>
</div>

{% if result %}
    <div>
        <p class="font-weight-bold">Keyword: {{ keyword }}</p>
        <p>Hasil ekstraksi informasi:</p>
        {% for text in result %}
            {% for data in text[1] %}
            <p>
                Jumlah: {% if data[1][0] %} {{ data[1][0] }} {% else %} - {% endif %};
                Waktu: {% if data[0][0] %}  {{ data[0][0] }} {% else %} - {% endif %}<br>
                {{ data[2] }}<br>
                File: {{ text[0] }}
            </p>
            {% endfor %}    
        
        {% endfor %}
    </div>
{% endif %}

{% endblock %}