{% extends "base.html" %}

{% block content %}
    <h1>String Matcher - 13518030</h1>
    <script type="text/javascript" src="{{ url_for('static', filename='js/browse.js') }}"></script>
    <form action="" method="post" name="login">
        {{ form.hidden_tag() }}
        <table>
            <tr>
                <td>{{ form.folder.label }}</td>
                <td>{{ form.folder(size=32) }}</td>
                {% for error in form.folder.errors %}
                <td style="color: red;">[{{ error }}]</td>
                {% endfor %}
            </tr>
            <tr>
                <td>{{ form.keyword.label }}</td>
                <td>{{ form.keyword(size=32) }}</td>
                {% for error in form.keyword.errors %}
                <td style="color: red;">[{{ error }}]</td>
                {% endfor %}
            </tr>
            <tr>
                <td>{{ form.submit() }}</td>
            </tr>
        </table>
    </form>
{% endblock %}